@import "root";

input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  background: $inputs-color;
  color: #E3E3E3;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #E3E3E3;
  margin-bottom: 0.25rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@mixin select() {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $inputs-color;
    flex: 1;
    padding: 0.5rem;
    color: #E3E3E3;
    cursor: pointer;
    font-size: 0.9rem;
  }

  select::-ms-expand {
    display: none;
  }

  .select,
  .select:disabled {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.5rem;
    background: $inputs-color;
    overflow: hidden;
    border-radius: .5em;
  }

  .select.multiple {
    height: 100%;
    min-height: 10rem;
    margin-top: 2rem;
    background: $inputs-color;
  }

  option {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #E3E3E3;
    background: $inputs-color;
  }
}

@mixin numbers() {
  input[type="number"] {
    width: 80%;
  }
}

@mixin date() {
  input[type="date"] {
    width: 100%;
    background: $inputs-color;
    color: #E3E3E3;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

@mixin tel() {
  input[type="tel"] {
    width: 100%;
  }
}

@mixin textarea() {
  textarea {
    background: $inputs-color;
    color: #E3E3E3;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    height: 100%;
    min-height: 10rem;
    width: 100%;
    resize: vertical;
    overflow-y: auto;
    margin-top: 2rem;
    border: none;
  }
}

@mixin switch() {

  .checkbox-wrapper {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkbox-wrapper .switch {
    margin-top: 0.25rem;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper .switch input {
    display: none;
  }

  .checkbox-wrapper .slider {
    background-color: #9b9b9b;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper .slider:before {
    background-color: #E3E3E3;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper input:checked + .slider {
    background-color: #7DA641;
  }

  .checkbox-wrapper input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper .slider.round:before {
    border-radius: 50%;
  }

}

@mixin calendar() {
  .calendar {
    color: #E3E3E3;
    margin: 0 auto;
  }

  .calendar .col {
    max-height: 250px;
    width: 300px;
    height: 90%;
  }

  .calendar table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    height: 100%;
    color: #E3E3E3;
  }

  .calendar table thead {
    display: table-header-group;
    width: 100%;
  }

  .calendar table tbody {
    display: table-row-group;
    width: 100%;
    height: 100%;
  }

  .calendar table tr {
    border-color: inherit;
    display: table-row;
  }

  .calendar table tr th:first-of-type,
  .calendar table tr th:last-of-type,
  .calendar table tr td:first-of-type,
  .calendar table tr td:last-of-type {
    color: $blue;
  }

  .calendar table tr td:first-of-type.not-current-month,
  .calendar table tr td:last-of-type.not-current-month {
    color: $disabled-blue;
  }


  .calendar table .tbody .tr {
    display: table-row;
    height: 100%;
    width: 100%;
  }

  .calendar table th {
    display: table-cell;
    font-weight: 400;
    color: #E3E3E3;
    text-align: center;
    padding: 0.4rem 0;
    font-size: 0.8rem;
  }

  .calendar table td {
    display: table-cell;
    text-align: center;
    padding: 0.5rem;
    width: calc(100% / 7 - 2px);
    height: calc(100% / 6 - 2px);
    border: 1px solid $background;
  }

  .calendar-day {
    text-align: center;
    line-height: 0.8rem;
    margin: 0 auto;
    color: #E3E3E3;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: $radius;
  }

  .calendar table tr td.calendar-day:hover {
    cursor: pointer;
    transition-property: background-color, color;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    background: rgba(227, 227, 227, 0.8);
    color: #000000;
  }

  .calendar-day.not-current-month {
    color: rgba(227, 227, 227, 0.6);
  }

  .calendar-day.today {
    background: rgba(9, 177, 231, 0.8);
    color: #000000;
  }

  .calendar-day.today:hover {
    background: rgba(9, 177, 231, 1);
    color: #000000;
  }

  .calendar table tbody tr td.calendar-day.present {
    background: #7DA641;
    color: #E3E3E3;
  }

  .calendar table tbody tr td.calendar-day.present:hover {
    background: #85bb38;
    color: #E3E3E3;
  }

  .calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
  }

  .calendar-header select {
    text-align: center;
    background: transparent;
    border: none;
  }

}
