$background: url("./background/login.svg");
$text-color: #E3E3E3;

$navigation-color: tranparent;
$navigation-text: rgba(227, 227, 227, 0.80);

$layer-color: #2B364F;
$overlay-color: rgba(227, 227, 227, 0.2);

$vivid-green: #7DA641;
$green: #7DA641;
$disabled-green: #7DA64199;
$red: #B84646;
$disabled-red: rgba(191, 67, 50, 0.6);
$blue: rgb(9, 177, 231);
$disabled-blue: rgba(9, 177, 231, 0.8);
$yellow: #EBAB4A;

$table-head: rgba(227, 227, 227, 0.3);
$table-row: rgba(227, 227, 227, 0.01);
$table-separator: rgba(227, 227, 227, 0.3);

$inputs-color: #2B364F;

$text-size: 1rem;
$label-size: 1.2rem;
$h2: 2.5rem;
$h1: 3.6rem;
$radius: 10px;

$width-small: 80%;
$width-half: 90%;
$width-full: 100%;

$height-small: 80%;
$height-half: 90%;
$height-full: 100%;


@mixin flex-row($justify: space-around, $align: center, $wrap : wrap) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col($justify: space-around, $align: center, $wrap : nowrap) {
  display: flex;
  flex-flow: column $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin center($top: 0, $down: 0) {
  margin: $top auto $down auto;
}

@mixin transition($property, $duration: 0.3s, $timing: ease-in-out) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
}