@import 'root';

.login-container {
  @include flex-col;
  height: 100vh;
}

.messages {
  display: none;
}

.form-container {
  width: $width-small;
  max-width: 500px;
  min-width: 300px;
  height: $height-small;
  max-height: 800px;
  min-height: 500px;
  background: $layer-color;
  border-radius: $radius;
}

.form-container form {
  @include flex-col(center, center);
  gap: 3rem;
  height: $height-small;
  width: $width-small;
  @include center;
  padding: 1rem;
}

.form-container form label {
  font-size: $label-size;
  font-weight: 600;
  color: $text-color;
  padding-left: 0.5rem;
}

.form-container form input {
  width: $width-full;
  height: 3.5rem;
  border: none;
  border-radius: $radius;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: $label-size;
  background: $overlay-color;
  color: $text-color;
}

.form-container form input:focus {
  outline: none;
}

.form-container form input::placeholder {
  color: $text-color;
}

.form-container form input[type="submit"] {
  background: $disabled-green;
  color: $text-color;
  font-weight: 600;
  font-size: $label-size;
  width: $width-full;
  margin: 3rem 0.5rem 0 0.5rem;
  cursor: pointer;
  @include transition(background);
}

.form-container form input[type="submit"]:hover:not(input:disabled),
.form-container form input[type="submit"]:focus:not(input:disabled) {
  background: $green;
}

.form-container form input[type="submit"]:disabled,
.form-container form input[type="submit"]:disabled:hover,
.form-container form input[type="submit"]:disabled:focus,
.form-container form input[type="submit"]:disabled:active {
  background: $disabled-green;
  cursor: not-allowed;
}

header {
  @include flex-row(center);
  background: $overlay-color;
  padding: 1.5rem;
  border-radius: $radius $radius 0 0;
}

header img {
  max-width: 160px;
  max-height: 80px;
}

@media (min-width: 900px) {
  .login-container {
    flex-direction: row;
  }

  .messages {
    @include flex-col(center);
    height: $height-full;
  }

  .messages h2 {
    color: $text-color;
    font-size: $h2;
    line-height: 3rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }

  .messages h2:last-of-type {
    margin-left: 10rem;
  }

  .form-container {
    height: 60vh;
    width: 40vw;
  }
}

@media (max-height: 950px) {
  .beneficiaries-container table tbody {
    height: 50vh;
  }
}
