@import "root";
@import "inputs";

.users {
      width: 100vw;
      height: 90vh;
      @include flex-col($justify: flex-start, $align: center);

      h1 {
        margin: 0;
        padding: 2rem;
      }

      table {
        width: 80%;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        background-color: $overlay-color;
        border-radius: $radius;

        thead {
          width: 100%;
          background-color: $overlay-color;
          border-top-right-radius: $radius;
          border-top-left-radius: $radius;
        }

        tbody {
            @include select;
          width: 100%;
          background-color: $inputs-color;
          border: 1px solid $table-separator;
          border-bottom-right-radius: $radius;
          border-bottom-left-radius: $radius;
        }

        thead tr {
            @include flex-row($justify: space-around, $wrap: nowrap);
            border-top-right-radius: $radius;
            border-top-left-radius: $radius;
            width: 100%;
            gap: 1rem;
        }

        thead tr th {
          padding: 1rem;
          width: 100%;
          text-align: center;
        }
        tbody tr {
          @include flex-row($justify: space-around, $wrap: nowrap);
          width: 100%;
          gap: 1rem;
            border-bottom: 1px solid $table-separator;
        }

        tbody tr:last-of-type {
          border-bottom-right-radius: $radius;
          border-bottom-left-radius: $radius;

          td:first-of-type {
            border-bottom-left-radius: $radius;
          }
          td:last-of-type {
            border-bottom-right-radius: $radius;
          }
        }
        
        
        td {
          @include flex-row($justify: center, $align: center);
          padding: 0.5rem;
          text-align: center;
          width: 100%;
          flex: 1fr;
            
            input,
            .select{
                text-align: center;
                width: auto;
                padding: 0.5rem;
            }
            .select{
                width: fit-content;
            }
            select:after{
                color: $text-color;
            }
        }

    }
}





.button{
    width: 64px;
    height: 64px;
    border-radius: $radius;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-right: 1rem;
    padding: 0;
}

.update,
.delete,
.create{
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    @include transition(all, 0.3s);
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(0.9);
    }
}